.home_sec_3 {
    .faq-title {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center
    }
    .faq-btn {
        display: flex; 
        justify-content: center
    }
    .faq-btn button {
        border: 2px white solid;
        background-color: transparent;
        border-radius: 200px;
        padding: 8px 24px;
        margin: 0 8px;
        font-size: 24px;
        color: white;
        margin-top: 2rem;
        cursor: pointer
    }
    .faq-btn .active {
        background: linear-gradient(to top, #7D2EBD,#C054EE);
    }
    .menu_list {
        line-height: 1;
    }
    .container_content {
        width: 864px;
        min-height: 720px;
        height: max-content;
        border-radius: 3%;
        border: 3px solid white;
        margin-top: 5rem;
        padding: 15px;
        background: linear-gradient(to top, #7D2EBD, #C054EE);
    
        .inner_content {
            padding-left: 10px;
            display: inline;
            
        }
        .content_text {
            margin-bottom: 2rem;
        }
        .content_text li {
            display: flex;
        }
        // .content_text li b {
        //     display: block;
        // }
        .content_image {
            display: flex;
            justify-content: space-evenly;
        }
    
        .content_image img {
            width: 170px;
            height: 330px;
        }

        ul.tab_content li b {
            color: var(--gradient-gold, linear-gradient(180deg, #E0AA3D 0%, #F7EF8A 46.88%, #E0AA3E 100%));
        }
    }
    
    .container_content img {
        max-width: 240px;
        max-height: 490px;
    }
    .container_content h4 {
        background: var(--gradient-gold, linear-gradient(180deg, #E0AA3D 0%, #F7EF8A 46.88%, #E0AA3E 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
    }

    .test-element b {
        color: #7D2EBD;
    }

  
    

}
