 .download_center {
    justify-content: center;
    margin-bottom: 2rem;
    
    h1{
        color: var(--gray-neutral-50, #FAFAFA);
        margin-bottom: 0;
        font-size: 96px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.96px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        line-height: 1.2;
        text-align: left;
    }
    b {
        background: var(--gradient-gold, linear-gradient(180deg, #E0AA3D 0%, #F7EF8A 46.88%, #E0AA3E 100%));
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: none;
    }
    .section-title-wrapper {
        display: grid;
        gap: 30px;
        margin-bottom: 2rem;
        .section-title {
            display: block
        }
    
        .sub-title {
            display: block;
            text-align: center;
            h4 {
                font-size: 20px;
            }
    
        }
    }
    

   
    .download-section {
        position: relative;

        border-radius: 32px;
        background: linear-gradient(to top, #7D2EBD,#C054EE,  ) ;
        display: flex;
     
        padding: 2rem 2rem 4rem 2rem;

        .download-content-section {
            width: 65%;
            .text-download {
                margin-bottom: 40px;
                width: 90%;
                h1{              
                    font-size: 80px;          
                }             
            }

            .mockup-img {
                display: flex;

                .device_icon {
                    display: grid;
                    gap: 24px;
                }

                img {
                    display: block;
                } 
            }
            
        }

        .download-img {
            width: 35%;
            position: absolute;
            bottom: 0;
            right: 30px;
            padding: 0;
            img {
                display: block;
            }
        }
                      
    }
 }

@media only screen and (max-width: 767px) {

.download_center{
    .section-title-wrapper {
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .section-title {
                display: block;;
            text-align: center;
                width: 200px;
                h1 {
                    font-size: 32px;
                }
            }

            .sub-title h4 {
                font-size: 16px !important;
                font-weight: 200;
            }
        }
    .download-section {
        .download-content-section {
            width: 100%;
            display: block;
            justify-content: center;
            margin-bottom: 9rem;
            .text-download {
                display: block;
                text-align: center;
                
            }
            .text-download h1 {
                font-size: 32px;
                margin-top: 0 !important;
            }

            .device_icon {
                gap: 16px;
            }
        }

        .download-img {
            width: 45%;
            right: 25%;
        }
    }

    

}

}